
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Volkhov:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&family=Shadows+Into+Light&family=Vollkorn:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/* Global */
*{
  padding: 0;
  margin: 0;
  line-height: 30px;
}
body,
input {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}

input[placeholder], [placeholder], *[placeholder] {
  color: rgb(10, 136, 153) !important;
}


.header-bg
{
    background-image: url('images/bg/bg-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.inner{
  overflow: hidden;
}
.inner img{
  transition: all 1.9s ease;
  
}
.inner img:hover{
  transform: scale(1.5);
 
}